{%extends 'base.html'%}
{% block body %}
        <h1>Account List</h1>
        
        <div class="account-grid">
            {% for account in accounts %}
                <div class="account-card">
                    <ul>
                        <li>Account ID: {{account[0]}}</li>
                        <li>Username: {{account[1]}}</li>
                        <li>Email Address: {{account[2]}}</li>
                        <li>Password: {{account[3]}}</li>
                        <li>Account Type: {{account[4]}}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
{% endblock %}