<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="topnav">

            <div class="logo">
                <img class="logo_img" src="../static/images/160logo.png" alt="logo" id="logo">
            </div>

                <div id="nav">
                    <ul class="barNav">
                        <li><a href="index.html">Home</li>
                        <li><a href="accounts.html">Accounts</a></li>
                        <li><a href="tests.html">Tests</a></li>
                    </ul>
                </div>
        </div>
    </header>
    
    {% block body %}
    {% endblock %}

    <footer>
        <div class="container">
            <p class="copyright">Copyright &copy; 2025 All right reserved. Created by Tyler McDowell and Ryan Sweeney.</p>
        </div>
    </footer>
</body>
</html>