<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Exam App</title>
</head>
<body>
    <header>
        <div class="topnav">
                <img class="logo_img" src="../static/images/logo.png" alt="logo" id="logo">
            
                <div id="nav">
                    <ul class="barNav">
                        <li><a href="home.html">Home</li>
                        <li><a href="accounts.html">Accounts</a></li>
                        <li><a href="tests.html">Tests</a></li>
                    </ul>
                </div>
        </div>
    </header>
    
    {% block body %}
    
    
    {% endblock %}

    <footer>
        <div class="container">
            <p class="copyright">Copyright &copy; 2025 All right reserved. Created by Tyler McDowell and Ryan Sweeney.</p>
        </div>
    </footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const selectedType = urlParams.get("AccountType");

        if (selectedType) {
            document.getElementById("AccountType").value = selectedType;
        }

        document.getElementById('AccountType').addEventListener('change', function() {
            const selectedType = this.value;
            const url = new URL(window.location.href);

            if (selectedType) {
                url.searchParams.set('AccountType', selectedType);
            } else {
                url.searchParams.delete('AccountType');
            }

            window.location.href = url.toString()
        });
    });
</script>
</html>