
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles/styles.css" rel="stylesheet">
    <title>Exam App - Log in </title>
</head>
<div class="register" id="register">
    <div id="register-container" class="login-box">
        <div class="signup-item">
            <h1>Log In!</h1>

                <form>
                    <input type="text" placeholder="Username" id="Uname">
                    <input type="email" placeholder="Email Address" id="email">
                    <input type="password" placeholder="Password" id="password">
                    <input type="submit" value="Submit" class="input_submit">
                </form>
        </div>
    </div>
</div>
</html>

