{% extends 'base.html' %}

{% block body %}
    {% if AccountType == 'Student' %}
        <div class="container">
            <h1>Responses for {{ test_name }}</h1>
            <a href="{{ url_for('manage_tests') }}">
                <button>Back to tests</button>
            </a>

            {% if responses %}
                {% for response in responses %}
                    <div class="response-card">
                        <h1>Response {{ ResponseID }}</h1>
                        <p>Student Username: {{ response.Username }}</p>
                        <p>Response(s): {{ response.ResponseText }}</p>
                        <p>Grade: {{ grade }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No responses.</p>
            {% endif %}
        </div>

    {% elif AccountType == 'Teacher' %}
        <div class="container">
            <h1>Responses for {{ test_name }}</h1>
            <a href="{{ url_for('manage_tests') }}">
                <button>Back to tests</button>
            </a>

            {% if responses %}
                {% for response in responses %}
                    <div class="response-card">
                        <h1>Response {{ ResponseID }}</h1>
                        <p>Student Username: {{ response.Username }}</p>
                        <p>Response(s): {{ response.ResponseText }}</p>
                        <p><button class="test-btn">Grade</button></p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No responses.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}